In [10]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np

# Exploring
import scipy.stats as stats

# Visualizing
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

import acquire
#import summarize
import prepare

# Exercises

# 1. Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

In [11]:
df = acquire.zillow_datac()

In [ ]:
### ### ###

url = get_url("zillow")

sql = """
select * from properties_2017
join predictions_2017 using(parcelid)
left join airconditioningtype using(airconditioningtypeid)
left join architecturalstyletype using(architecturalstyletypeid)
left join buildingclasstype using(buildingclasstypeid)
left join heatingorsystemtype using(heatingorsystemtypeid)
left join propertylandusetype using(propertylandusetypeid)
left join storytype using(storytypeid)
left join typeconstructiontype using(typeconstructiontypeid)
where latitude IS NOT NULL
and longitude IS NOT NULL
"""

In [12]:
df.shape

(77414, 63)

In [13]:
df.head()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,id,parcelid,logerror,transactiondate
0,0,10754147,nan,nan,nan,0.00,0.00,nan,nan,nan,...,"2,016.00",9.00,nan,None,nan,nan,0,14297519,0.03,2017-01-01
1,1,10759547,nan,nan,nan,0.00,0.00,nan,nan,nan,...,"2,015.00","27,516.00",nan,None,nan,nan,1,17052889,0.06,2017-01-01
2,2,10843547,nan,nan,nan,0.00,0.00,5.00,nan,nan,...,"2,016.00","774,261.00","20,800.37",None,nan,nan,2,14186244,0.01,2017-01-01
3,3,10859147,nan,nan,nan,0.00,0.00,3.00,6.00,nan,...,"2,016.00","594,416.00","14,557.57",None,nan,nan,3,12177905,-0.10,2017-01-01
4,4,10879947,nan,nan,nan,0.00,0.00,4.00,nan,nan,...,"2,016.00","243,350.00","5,725.17",None,nan,nan,4,10887214,0.01,2017-01-01

In [ ]:
### ### ###

# Obtain the counts of all the nulls and sort
null_counts = df.isnull().sum().sort_values(ascending=False)

# What are the half of the columns w/ the most nulls
# series[start:end]
null_counts.head()

In [ ]:
### ### ###

# Show the lower nulls
null_counts.tail(30)

# 2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77414 entries, 0 to 77413
Data columns (total 63 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            77414 non-null  int64
 1   parcelid                      77414 non-null  int64
 2   airconditioningtypeid         21395 non-null  float64
 3   architecturalstyletypeid      151 non-null    float64
 4   basementsqft                  44 non-null     float64
 5   bathroomcnt                   77414 non-null  float64
 6   bedroomcnt                    77414 non-null  float64
 7   buildingclasstypeid           381 non-null    float64
 8   buildingqualitytypeid         50182 non-null  float64
 9   calculatedbathnbr             74202 non-null  float64
 10  decktypeid                    510 non-null    float64
 11  finishedfloor1squarefeet      5953 non-null   float64
 12  calculatedfinishedsquarefeet  76306 non-null  float64
 13  finishedsquarefeet12          70780 non-null  float64
 14  finishedsquarefeet13          233 non-null    float64
 15  finishedsquarefeet15          4750 non-null   float64
 16  finishedsquarefeet50          5953 non-null   float64
 17  finishedsquarefeet6           543 non-null    float64
 18  fips                          77414 non-null  float64
 19  fireplacecnt                  8394 non-null   float64
 20  fullbathcnt                   74202 non-null  float64
 21  garagecarcnt                  23253 non-null  float64
 22  garagetotalsqft               23253 non-null  float64
 23  hashottuborspa                1257 non-null   float64
 24  heatingorsystemtypeid         48340 non-null  float64
 25  latitude                      77414 non-null  float64
 26  longitude                     77414 non-null  float64
 27  lotsizesquarefeet             70354 non-null  float64
 28  poolcnt                       14218 non-null  float64
 29  poolsizesum                   772 non-null    float64
 30  pooltypeid10                  423 non-null    float64
 31  pooltypeid2                   834 non-null    float64
 32  pooltypeid7                   13366 non-null  float64
 33  propertycountylandusecode     77413 non-null  object
 34  propertylandusetypeid         77414 non-null  float64
 35  propertyzoningdesc            51218 non-null  object
 36  rawcensustractandblock        77414 non-null  float64
 37  regionidcity                  75895 non-null  float64
 38  regionidcounty                77414 non-null  float64
 39  regionidneighborhood          30433 non-null  float64
 40  regionidzip                   77141 non-null  float64
 41  roomcnt                       77413 non-null  float64
 42  storytypeid                   44 non-null     float64
 43  threequarterbathnbr           8191 non-null   float64
 44  typeconstructiontypeid        166 non-null    float64
 45  unitcnt                       51146 non-null  float64
 46  yardbuildingsqft17            2418 non-null   float64
 47  yardbuildingsqft26            65 non-null     float64
 48  yearbuilt                     76248 non-null  float64
 49  numberofstories               18074 non-null  float64
 50  fireplaceflag                 125 non-null    float64
 51  structuretaxvaluedollarcnt    76150 non-null  float64
 52  taxvaluedollarcnt             76490 non-null  float64
 53  assessmentyear                77414 non-null  float64
 54  landtaxvaluedollarcnt         75808 non-null  float64
 55  taxamount                     76905 non-null  float64
 56  taxdelinquencyflag            1502 non-null   object
 57  taxdelinquencyyear            1502 non-null   float64
 58  censustractandblock           75324 non-null  float64
 59  id                            77414 non-null  int64
 60  parcelid                      77414 non-null  int64
 61  logerror                      77414 non-null  float64
 62  transactiondate               77414 non-null  object
dtypes: float64(55), int64(4), object(4)
memory usage: 37.2+ MB

In [15]:
df.describe()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock,id,parcelid,logerror
count,"77,414.00","77,414.00","21,395.00",151.00,44.00,"77,414.00","77,414.00",381.00,"50,182.00","74,202.00",...,"76,150.00","76,490.00","77,414.00","75,808.00","76,905.00","1,502.00","75,324.00","77,414.00","77,414.00","77,414.00"
mean,"38,848.45","13,376,693.03",1.93,7.43,601.61,2.21,3.08,3.77,6.30,2.31,...,"178,724.99","440,530.69","2,016.00","264,962.60","5,368.69",13.92,"60,489,760,054,924.25","38,848.45","13,006,698.31",0.02
std,"22,404.20","8,324,811.48",3.13,2.63,462.68,1.08,1.28,0.46,1.73,1.00,...,"402,100.43","833,947.64",0.07,"528,475.97","10,403.92",1.53,"210,022,023,772.30","22,404.20","3,480,689.67",0.17
min,0.00,"10,711,745.00",1.00,2.00,63.00,0.00,0.00,1.00,1.00,1.00,...,5.00,8.00,"2,003.00",4.00,2.54,6.00,"60,371,011,101,000.00",0.00,"10,711,855.00",-4.66
25%,"19,459.25","11,585,951.50",1.00,7.00,222.00,2.00,2.00,4.00,5.00,2.00,...,"78,336.50","187,028.25","2,016.00","78,400.75","2,449.78",14.00,"60,373,106,013,005.00","19,459.25","11,538,337.00",-0.02
50%,"38,871.50","12,532,801.50",1.00,7.00,542.00,2.00,3.00,4.00,6.00,2.00,...,"128,393.50","321,431.50","2,016.00","175,342.00","4,005.48",14.00,"60,375,718,502,006.50","38,871.50","12,530,715.00",0.01
75%,"58,254.75","14,115,193.50",1.00,7.00,744.50,3.00,4.00,4.00,8.00,3.00,...,"205,527.50","512,981.50","2,016.00","324,677.00","6,198.45",15.00,"60,590,423,264,263.50","58,254.75","14,211,485.50",0.04
max,"77,613.00","169,601,949.00",13.00,21.00,"2,443.00",20.00,25.00,5.00,12.00,20.00,...,"66,404,932.00","149,139,154.00","2,016.00","94,011,079.00","1,824,154.85",15.00,"61,110,091,003,005.00","77,613.00","167,689,317.00",5.26

# 3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [22]:
# This kinda went nowhere

#epd = pd.isnull(df).sum().to_frame('num_rows_missing')
#epd['pct_rows_missing'] = epd.num_rows_missing / len()

In [23]:
sum_missing = df.isnull().sum()
percent_missing = df.isnull().sum() / len(df)
missing_value_df = pd.DataFrame({'num_rows_missing': sum_missing,
                                 'pct_rows_missing': percent_missing})
missing_value_df

                          num_rows_missing     pct_rows_missing
id                                       0                 0.00
parcelid                                 0                 0.00
airconditioningtypeid                56019                 0.72
architecturalstyletypeid             77263                 1.00
basementsqft                         77370                 1.00
...                                    ...                  ...
censustractandblock                   2090                 0.03
id                                       0                 0.00
parcelid                                 0                 0.00
logerror                                 0                 0.00
transactiondate                          0                 0.00

[63 rows x 2 columns]

In [20]:
# Making it a function

def rows_missing(df):
    null_sum = df.isnull().sum()
    total = null_sum.sort_values(ascending=False)
    percent = (((null_sum / len(df.index))*100).round(2) ).sort_values(ascending=False)
    
    # concatenate along the columns to create the complete dataframe
    df = pd.concat([total, percent], axis=1, keys=['num_rows_missing', 'pct_rows_missing'])
    
    # drop rows that don't have any missing data; omit if you want to keep all rows
    #df_NA = df_NA[ (df_NA.T != 0).any() ]
    
    return df

rows_missing(df)

ValueError: cannot reindex from a duplicate axis

In [ ]:
### ### ###

# Let's figure out how much data is missing where
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    rows = df.shape[0]
    pct_missing = num_missing / rows
    cols_missing = pd.DataFrame({'number_missing_rows': num_missing, 'percent_rows_missing': pct_missing})
    return cols_missing

In [ ]:
### ### ###

nulls_by_column = nulls_by_col(df)
nulls_by_column.sort_values(by="percent_rows_missing", ascending=False, inplace=True)
nulls_by_column.head(10)

# 1. Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, and number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.

In [21]:
# not sure if this is what the question is asking

columns_missing = df.isnull().sum(axis=1)
num_rows_missing = len(df.isnull().sum())
#percent_columns_missing = df.isnull().sum(axis=1) / df.sum(axis=1)
percent_columns_missing = df.isnull().sum(axis=1) / len(df.isnull().sum())
missing_value_df = pd.DataFrame({'num_cols_missing': columns_missing,
                                 'num_rows': num_rows_missing,
                                 'pct_cols_missing': percent_columns_missing})
missing_value_df.head(20)

    num_cols_missing  num_rows     pct_cols_missing
0                 41        63                 0.65
1                 40        63                 0.63
2                 32        63                 0.51
3                 31        63                 0.49
4                 31        63                 0.49
5                 31        63                 0.49
6                 38        63                 0.60
7                 34        63                 0.54
8                 40        63                 0.63
9                 32        63                 0.51
10                29        63                 0.46
11                32        63                 0.51
12                41        63                 0.65
13                40        63                 0.63
14                40        63                 0.63
15                40        63                 0.63
16                40        63                 0.63
17                39        63                 0.62
18                32        63                 0.51
19                34        63                 0.54

In [ ]:
def cols_missing(df):
    null_sum = df.isnull().sum(axis=1)
    total = null_sum.sort_values(ascending=False)
    percent = (((null_sum / len(df.index)*100).round(2) ).sort_values(ascending=False)
    #num_rows_missing = len(df.isnull().sum())
    # concatenate along the columns to create the complete dataframe
    df = pd.concat([total, percent, num_rows_missing], axis=1, keys=['num_rows_missing', 
                                                                     'pct_rows_missing',
                                                                     'num_rows'])
    
    # drop rows that don't have any missing data; omit if you want to keep all rows
    #df_NA = df_NA[ (df_NA.T != 0).any() ]
    
    return df

cols_missing(df)

In [ ]:
### ### ###

def nulls_by_row(df):
    num_cols_missing = df.isnull().sum(axis=1)
    pct_cols_missing = df.isnull().sum(axis=1)/df.shape[1]*100
    rows_missing = pd.DataFrame({'num_cols_missing': num_cols_missing, 'pct_cols_missing': pct_cols_missing}).reset_index().groupby(['num_cols_missing','pct_cols_missing']).count().rename(index=str, columns={'index': 'num_rows'}).reset_index()
    return rows_missing 

null_rows = nulls_by_row(df)
null_rows.sort_values(by="pct_cols_missing", ascending=False, inplace=True)
null_rows.head(10)

# Prepare

# 1. Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

In [ ]:
df.shape

### ### ###

# .isin([collection])
df = df[df.propertylandusetypeid.isin([260, 261, 262, 279])]

In [ ]:
# Only retain homes with a positive number of bedrooms and bathrooms
df = df[(df.bedroomcnt > 0) & (df.bathroomcnt > 0)]
df.shape

In [ ]:
df.unitcnt.value_counts()

In [ ]:
# 18485 null unit counts. They're probably unit counts of 1.
# It's more likely the paperwork for a single unit didn't have a value
df.unitcnt.isnull().sum()

In [ ]:
df.unitcnt = df.unitcnt.fillna(1.0)
df.shape

In [ ]:
# How many unitcounts are not 1?
(df.unitcnt != 1.0).sum()

In [ ]:
# Filter the duplex, triplex, etc...
df = df[df.unitcnt == 1.0]

In [ ]:
# Drop logically unnecessary columns
# Unnamed:0
# id
# id.1
df = df.drop(columns=["Unnamed: 0", "id", "id.1"])

In [ ]:
df.loc[df['propertylandusetypeid'] == 261]

In [ ]:
df = df[df.bathroomcnt != 0]
df.shape

# 2. Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

-- The input:
- A dataframe
- A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
- A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).

-- The output:
- The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.

-- hint:
- Look up the dropna documentation.
- You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.
- Make use of inplace, i.e. inplace=True/False.

In [ ]:
#example from lesson

### ### ###

def handle_missing_values(df, prop_required_column = .6, prop_required_row = .6):
    threshold = int(round(prop_required_column*len(df.index),0))
    df.dropna(axis=1, thresh=threshold, inplace=True)
    threshold = int(round(prop_required_row*len(df.columns),0))
    df.dropna(axis=0, thresh=threshold, inplace=True)
    return df

In [ ]:
handle_missing_values(df)

3. Decide how to handle the remaining missing values:

Fill with constant value.
Impute with mean, median, mode.
Drop row/column

In [ ]:
# Columns to drop b/c they're ids of descriptions
# propertylandusetypeid
# heatingorsystemtypeid
df = df.drop(columns=["propertylandusetypeid", "heatingorsystemtypeid"])

In [ ]:
df.isnull().sum().sort_values(ascending=False)

In [ ]:
# propertyzoningdesc = Description of the allowed land uses (zoning) for that property
# I'll drop this, b/c we're already filtering for single unit residential.

df.heatingorsystemdesc.isnull().sum()

In [ ]:
# b/c these properties are in southern california 
df.heatingorsystemdesc = df.heatingorsystemdesc.fillna("None")

In [ ]:
df = df.drop(columns=["propertyzoningdesc"])

In [ ]:
# Looks like calculatedbathrbr is equivalent to bathroomcnt
(df.calculatedbathnbr == df.bathroomcnt).sum() / len(df)

In [ ]:
df = df.drop(columns=["calculatedbathnbr"])

In [ ]:
df.isna().sum().sort_values(ascending=False).head(10)


# It's a Good Time to Split the DataÂ¶

- Split the df into train/validate/test
- Impute values from train, then apply them to validate and test sets
- Keep our out of sample datasets out of sample

In [ ]:
from sklearn.model_selection import train_test_split

train_and_validate, test = train_test_split(df, train_size=.8, random_state=123)
train, validate = train_test_split(train_and_validate, random_state=123)

In [ ]:
# Categorical/Discrete columns to use mode to replace nulls

cols = [
    "buildingqualitytypeid",
    "regionidcity",
    "regionidzip",
    "yearbuilt",
    "regionidcity",
    "censustractandblock"
]

for col in cols:
    mode = int(train[col].mode()) # I had some friction when this returned a float (and there were no decimals anyways)
    train[col].fillna(value=mode, inplace=True)
    validate[col].fillna(value=mode, inplace=True)
    test[col].fillna(value=mode, inplace=True)

In [ ]:
train.isnull().sum().sort_values(ascending=False).head(10)

In [ ]:
# Continuous valued columns to use median to replace nulls

cols = [
    "structuretaxvaluedollarcnt",
    "taxamount",
    "taxvaluedollarcnt",
    "landtaxvaluedollarcnt",
    "structuretaxvaluedollarcnt",
    "finishedsquarefeet12",
    "calculatedfinishedsquarefeet",
    "fullbathcnt",
    "lotsizesquarefeet"
]


for col in cols:
    median = train[col].median()
    train[col].fillna(median, inplace=True)
    validate[col].fillna(median, inplace=True)
    test[col].fillna(median, inplace=True)

In [ ]:
train.isnull().sum().sort_values(ascending=False)

In [ ]:
# How many nulls left in the dataset?
train.isnull().sum().sort_values(ascending=False).sum()

 - Send functions to wrangle_zillow.py

# Mall Customers

1. Acquire data from mall_customers.customers in mysql database.

In [ ]:
df = acquire.get_mall_data()
df.head()

2. Summarize data (include distributions and descriptive statistics).

In [ ]:
sns.pairplot(df)

In [ ]:
df.describe()

3. Detect outliers using IQR.

In [ ]:
def add_upper_outlier_columns(df, k):
    

    for col in df.select_dtypes('number'):
        df[col + '_outliers'] = get_upper_outliers(df[col], k)

    return df

add_upper_outlier_columns(df, k=1.5)